* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
@media(max-width: 500px){
  .main-wrapper{
    background-color: blue;
  }
}

.page-title {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/morrocan.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.page-title h1 {
  font-size: 3rem;
  color: #f3f3f3;
  font-weight: 400;
}

.section-title {
  font-size: 2rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-bottom: 2px solid #333;
}

.about-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-paragraph {
  width: 500px;
  margin: 10px;
}
.about-paragraph p {
  text-align: end;
  font-weight: 500;
}

.image-holder-about {
  height: 400px;
  width: 400px;
  margin: 10px;
}

.image-holder-about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* .main-wrapper nav {
  padding: 15px;
  background-color: #fffefb;
  position: fixed;
  width: 100%;
}
.main-wrapper nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.main-wrapper nav a:hover,
.main-wrapper nav a:focus-visible {
  color: rgb(223, 94, 61);
  font-size: larger;
} */

/* ====================== NAVBAR ======================== */
.main-wrapper nav.navbar{
  padding: 0;
  background-color: #fffefb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo{
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
}

.menu-toggle{
  display: none;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 0.5;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a:focus-visible {
  color: rgb(223, 94, 61);
}

.hamburber{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px){
  .hamburber{
    display: flex;
  }
  .nav-links{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #fffefb;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
    gap: 1.5rem;
    transform: translateX(100%);
    transition: transform 0.35s ease;
  }

  .menu-toggle:checked ~ .nav-links{
    transform: translateX(0);
  }
  .menu-toggle:checked + .hamburber span:nth-child(1){
    transform: translateY(8.5px) rotate(45deg);
  }

  .menu-toggle:checked + .hamburber span:nth-child(2){
    opacity: 0;
  }

  .menu-toggle:checked + .hamburber span:nth-child(3){
    transform: translateY(-8.5px) rotate(-45deg);
  }
  
  .nav-links a{
    font-size: 1.25rem;
    padding: 0.8px 1.5rem;
  }
  

}